@font-face {
    font-family: SF;
    src: url(SF-Pro.otf);
}

body {
    text-align: center;
    background-color: #ffdfc7;
}

div {
    margin-top: 15px;
}

* {
    font-family:SF;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

button {
    display: inline-block;
    height: 300px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 300px;
}

#image img {
    display: block;
    height: 300px;
    width: 300px;
}

